<!DOCTYPE html>
<html lang="en">

<head>
    <title>DEMO LAYOUT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <link rel="shortcut icon" href="/admin/assets/media/logos/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link href="/admin/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.13.1/ckeditor.js"
            integrity="sha512-7ug4FvfIrFdUN0+aY4vhRsoREQURNQHJ6zkVuV98ShIZePU4t+7NcLi+BlV6WiabLUVBPq547EYq5tbCc0ViKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style href="/admin/assets/css/custom.css"></style>
</head>


<body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true"
      data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true"
      data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true"
      data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default dark-sidebar">

<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <!-- Page -->
    <div class="app-page flex-column flex-column-fluid" id="kt_app_page">

        <!--Header-->
        <%- include('layouts/header') %>
        <!--end::Header-->



        <!--begin::Wrapper-->
        <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">

            <!--begin::Sidebar-->
            <%- include('./layouts/sidebar') %>
            <!--end::Sidebar-->


            <!--begin::Main-->
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <%- body %>

                <!--begin::Footer-->
                <%- include('./layouts/footer') %>
                <!--end::Footer-->
            </div>
            <!--end:::Main-->
        </div>
        <!--end::Wrapper-->


    </div>
    <!--end::Page-->
</div>

<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="/admin/assets/plugins/global/plugins.bundle.js"></script>
<script src="/admin/assets/js/scripts.bundle.js"></script>

<!--end::Global Javascript Bundle-->


</body>

</html>