<div class="header-area d-lg-flex d-none">
    <div
            class="container d-flex alingn-items-center justify-content-between"
    >
        <div class="header-logo">
            <a href="index.html"
            ><img
                        alt="image"
                        class="img-fluid dark"
                        src="/assets/svg1.svg"
                        style="width: 100%; height: 100%"
                /></a>
            <a href="index.html"
            ><img
                        alt="image"
                        class="img-fluid light"
                        src="/assets/svg1.svg"
                        style="width: 100%; height: 100%"
                /></a>
        </div>
        <div class="header-right">
            <ul class="social-media">
                <li><a href="https://www.facebook.com/">FB</a></li>
                <li>
                    <a href="https://x.com/">
                        <svg
                                width="6"
                                height="6"
                                viewBox="0 0 6 6"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <circle
                                    cx="3"
                                    cy="3"
                                    r="2.5"
                                    stroke="#545454"
                            />
                        </svg>
                        TW
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/">
                        <svg
                                width="6"
                                height="6"
                                viewBox="0 0 6 6"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <circle
                                    cx="3"
                                    cy="3"
                                    r="2.5"
                                    stroke="#545454"
                            />
                        </svg>
                        Lin
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/">
                        <svg
                                width="6"
                                height="6"
                                viewBox="0 0 6 6"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <circle
                                    cx="3"
                                    cy="3"
                                    r="2.5"
                                    stroke="#545454"
                            />
                        </svg>
                        INs
                    </a>
                </li>
            </ul>
            <ul class="icon-area">
                <li class="tt-style-switch">
                    <i class="bi bi-brightness-low-fill"></i>
                </li>
            </ul>
            <div class="btn-area">
                <a href="#"> SIGN IN </a>
            </div>
        </div>
    </div>
</div>

<header class="health">
    <div class="container-md">
        <div class="col-lg-12">
            <div class="header-wrapper">
                <div class="menu-wrap">
                    <div class="sidebar menu-icon">
                        <svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M1.66663 9.16669H18.3333V10.8334H1.66663V9.16669ZM1.66663 4.16669H18.3333V5.83335H1.66663V4.16669ZM1.66663 14.1667H18.3333V15.8334H1.66663V14.1667Z"
                            />
                        </svg>
                    </div>
                    <div class="main-menu d-xl-flex d-none">
                        <ul class="menu-list">
                            <li class="menu-item-has-children">
                                <a
                                        href="life-style.html"
                                        class="drop-down"
                                >
                                    FEATURES</a
                                ><i
                                        class="bi bi-plus dropdown-icon"
                                ></i>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="about-us.html"
                                        >About Us</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact-us.html">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-logo d-lg-none d-flex">
                    <a href="index.html"
                    ><img
                                alt="image"
                                class="img-fluid dark"
                                src="/assets/svg1.svg"
                        /></a>
                    <a href="index.html"
                    ><img
                                alt="image"
                                class="img-fluid light"
                                src="/assets/svg1.svg"
                        /></a>
                </div>
            </div>
        </div>
    </div>
</header>