<div class="blog-post mb-120">
    <div class="container">
        <div class="row g-lg-4 gy-4">
            <div class="col-lg-8">
                <div class="row gy-5 mb-70">
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-area">
                            <div class="blog-card">
                                <div class="blog-content-1">
                                            <span
                                            ><a
                                                        href="health-and-wellness-category.html"
                                                >Wellness</a
                                                ></span
                                            >
                                    <h5>
                                        <a
                                                href="health-and-wellness-category.html"
                                        >02 January, 2024</a
                                        >
                                    </h5>
                                    <h3>
                                        <a href="standard-formate.html"
                                        >Exploring the Path to
                                            Vibrant Living.</a
                                        >
                                    </h3>
                                </div>
                                <div class="blog-image">
                                    <a href="standard-formate.html">
                                        <img
                                                class="img-fluid"
                                                src="/assets/image/health&wellness/Image-67.png"
                                                alt
                                        /></a>
                                </div>
                                <div class="blog-bottom-content">
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img
                                                    src="/assets/image/health&wellness/Image-10.png"
                                                    alt
                                            />
                                        </div>
                                        <div class="author-name">
                                            <a
                                                    href="editor-profile.html"
                                            >Dr. Daniel Scoot</a
                                            >
                                        </div>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="standard-formate.html">
                                            View
                                            <svg
                                                    class="arrow"
                                                    width="10"
                                                    height="10"
                                                    viewBox="0 0 10 10"
                                                    xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                        d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9"
                                                        stroke="white"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div
                            class="col-lg-12 d-flex justify-content-center"
                    >
                        <a
                                href="health-and-wellness-category.html"
                                class="load-btn hover-btn two"
                        >
                            LOAD MORE
                            <svg
                                    class="arrow"
                                    width="10"
                                    height="10"
                                    viewBox="0 0 10 10"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                        d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                ></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="health-sidebar-area">
                    <div class="single-widget mb-30">
                        <h6>Trending Post</h6>
                        <div class="recent-post-widget">
                            <div class="recent-post-img">
                                <a href="standard-formate.html"
                                ><img
                                            src="/assets/image/health&wellness/sidber-img-3.png"
                                            alt
                                    /></a>
                            </div>
                            <div class="recent-post-content">
                                <a
                                        href="health-and-wellness-category.html"
                                >05 January, 2024</a
                                >
                                <h5>
                                    <a href="standard-formate.html"
                                    >A Guide to Better Sleep
                                        Habits.</a
                                    >
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>