<div class="container">
    <h2>Chỉnh sửa danh mục</h2>
    <form class="row g-3" method="post" action="">
        <div class="col-12">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" value="" required>
        </div>
        <div class="col-12 mt-5">
            <button type="submit" class="btn btn-primary" name="submit">Update</button>
        </div>
    </form>
</div>