<div class="container">
    <h2>Danh sách danh mục</h2>
    <a href="create" class="btn btn-sm fw-bold btn-primary" >ADD CATEGORIES</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ORDINARY</th>
            <th scope="col">TITLE</th>
            <th scope="col">STATUS</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>tiêu đề bài viết</td>
            <td>Link gốc (optional)</td>
            <td>
                <a href="" class="btn btn-danger" onclick="return confirm('U sure?')">DELETE</a>
                <a href="edit" class="btn btn-warning">UPDATE</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>